body{
    /* min-height: 200vh; scroll */
    min-height: 100vh;
    outline: 1px solid red;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#input_text{
    display: block;
    padding: 1rem;
    margin: 1rem;
    font-size: 1.2rem;
}

.bola{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: yellow;
    border: 1px solid black;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
    box-shadow: 0px 0px 20px 5px;
}

.punto{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: black;
    margin-top: 1rem;
}

.play,
.pause{
    padding: 0.5rem;
    width: 60px;
    display: block;
}